/* Botones */
.btn {
    display: inline-block;
    padding: .7rem 3rem;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
    }
}
/* fin Botones */